{% for category in site.categories %}
    <span class="label-sm">
        {% if category[0] == "AdBOOST Core" %}
            <i class="network-icon adboost">&nbsp;</i>
        {% endif %}
        {% if category[0] == "Feed Management" %}
            <i class="fa fa-database">&nbsp;</i>
        {% endif %}
        {% if category[0] == "Product Campaigns" %}
            <i class="fa fa-bullhorn">&nbsp;</i>
        {% endif %}
        {% if category[0] == "Banner Generator" %}
            <i class="fa fa-image">&nbsp;</i>
        {% endif %}
        {% if category[0] == "Monitoring Tool" %}
            <i class="fa fa-area-chart">&nbsp;</i>
        {% endif %}
        {{ category | first }}
    </span>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.type == include.type %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
{% endfor %}