<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <title>AdBOOST.sk - platform manual</title>
  </head>
  <body ng-app="adboostApp" ng-controller="adbDocsController">
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h2>AdBOOST.sk</h2>
        </a>
        <div class="subtitle">{{ site.description | default: site.github.project_tagline }}</div>
        <a href="{{ site.github.repository_url }}" class="button header-btn">Log in or <small>Register for free</small></a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <div class="row">
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              placeholder="Search all manual pages for any phrases"
              ng-model="search_phrase"
              ng-change="search()"
              ng-blur="search()"
              my-enter="search()"
              ng-model-options="{debounce: 500}">
          </div>
          <div class="col-md-3">
            <p>
              <span>Search powered by</span>
              <img src="https://res.cloudinary.com/hilnmyskv/image/upload/v1481643883/algolia-logo-horizontal_yov4e3.svg" alt="Algolia Logo" width="50">
              <span>
                <a href="powered-by-algolia.zip" alt="Download Algolia assets">
                  <img src="https://res.cloudinary.com/hilnmyskv/image/upload/v1461179992/icon-download.svg" alt="download" width="19px">
                </a>
              </span>
            </p>
          </div>
        </div>
        <section id="main-content">
          {{ page.content }}
        </section>

        <aside id="sidebar">
          <div class="row">
            <div class="col-md-12 social">
              <sapn>Follow us:</sapn>
              <a href="https://www.facebook.com/adboostapp/" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a>
              <a href="https://www.linkedin.com/company/adboost" target="_blank"><i class="fa fa-linkedin">&nbsp;</i></a>
              <a href="https://twitter.com/AdBoostAPI" target="_blank"><i class="fa fa-twitter">&nbsp;</i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Guides</label>
                {% include posts_by_folder.html path="/" %}
            </div>
          </div>
        </aside>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    {% if site.google_analytics %}
      <script type="text/javascript">

        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      </script>
      <script type="text/javascript">

        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}

      </script>
    {% endif %}
    <script>

      var client = algoliasearch('CYKKMZUHCD', '8896d1522b51d7552d00318772de81e0');
      var index = client.initIndex('adboost-docs');

      var adboostApp = angular.module('adboostApp', []);

      adboostApp.directive('myEnter', function () {
        return function (scope, element, attrs) {
          element.bind("keydown keypress", function (event) {
            if(event.which === 13) {
              scope.$apply(function (){
                scope.$eval(attrs.myEnter);
              });
              event.preventDefault();
            }
          });
        };
      });

      adboostApp.controller('adbDocsController', function($scope){
        $scope.search = function(){
          index.search($scope.search_phrase, function searchDone(err, content) {
            console.log(err, content);
          });
        }
      });

    </script>
  </body>
</html>